// Sandstone 3.2.0
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Roboto:400,500");

// Navbar =====================================================================

.sandstone {
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin sandstone() {
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar {
  .nav > li > a {
    @include sandstone();
  }
}

.navbar-form input,
.navbar-form .form-control {
  border: none;
}

// Buttons ====================================================================

.btn {
  border: none;
  @include sandstone();

  &:hover {
    border-color: transparent;
  }
}

.btn-lg {
  line-height: 26px;
}

.btn-default {
  &:hover {
    background-color: $navbar-default-link-active-bg;
  }
}

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

input,
.form-control {

  &:focus {
    border-color: $input-border;
  }
}

.input-sm {
  padding: 15px 10px;
}

// Navs =======================================================================

.nav {
  @include sandstone();

  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: $gray-light;
  }
}

.nav-tabs {

  & > li > a {
    background-color: $gray-lighter;
    border-color: $nav-tabs-border-color;
    color: $gray;
  }

  > li.disabled > a:hover {
    background-color: $gray-lighter;
  }
}

.nav-pills {
  a {
    color: $gray;
  }

  li > a {
    border: 1px solid transparent;
  }

  li.active > a,
  li > a:hover {
    border-color: $gray-light;
  }

  li.disabled > a {
    border-color: transparent;
  }
}

.breadcrumb {
  @include sandstone();

  border: 1px solid $gray-light;

  a {
    color: $gray;
  }
}

.pagination {
  @include sandstone();
}

.pager {
  @include sandstone();

  li > a {
    color: $gray;
  }
}

.dropdown-menu {
  & > li > a {
    @include sandstone();
  }
}

// Indicators =================================================================

.alert {

  a,
  .alert-link {
    color: #fff;
  }
}

.tooltip {
  @include sandstone();
}

// Progress bars ==============================================================

.progress {
  border-radius: 10px;
  background-color: $gray-light;
}

.progress-bar {
}

// Containers =================================================================

.list-group-item {
  padding: 16px 24px;
}

.well {
}

.panel {
}

.panel-heading,
.panel-title,
.panel-footer {
  @include sandstone();
  color: #fff;
}

.panel-default {
  .panel-heading,
  .panel-title,
  .panel-footer {
    color: $gray;
  }
}
