.item-container {
    margin-top: 40px;
    position: absolute;
    width: 100%;

    .panel {
        padding-left: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-left: 10%;
        margin-right: 10%;
        height: 100px;
        opacity: .9;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }

    .header{
        text-align: center;
        margin-top: 0px;
        color: white;
        text-transform: uppercase;
        text-shadow: 3px 2px black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
}