<div (click)="goToUrl(feed.url)">
  <div class="feedInfo">
    <h2 class="title">{{feed.title}}</h2>
    <p class="author"><strong>{{feed.author}}</strong> - {{feed.date | date:'yMdjm'}}</p>
  </div>
  <div class="gif" *ngIf="feed.html" [innerHtml]="feed.html"></div>
  <!--<div class="gif" *ngIf="feed.gif"><img height="100%" width="100%" [src]="feed.gif | safe"/></div>-->
  <div class="gif" *ngIf="feed.thumbnail"><img height="100%" width="100%" [src]="feed.thumbnail | safe"/></div>
</div>
