//
/* Global Variables */
//
#particles-js {
  background: url('../assets/images/bg-parrot-pink.png'); 
}


//
/* Global Styles */
//
.padding-width {
  padding-left: 5px;
  display: inline-block;
}

.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 14px -6px black;
  height: 30px;
  margin-top: -80px;
  opacity: .75;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

//
/* Master/Default Layout Styles */
//

.navbar {
  opacity: .9 !important;

  &:hover {
	opacity: 1;
  }
}

#header {
  margin-top: 30px;
}

#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777;
}

.particles-js {
  position: relative;
}


///
/* Index Page Styles */
//

.action-container {
  margin-top: -30px;
  
  h4 {
	color: white;
	font-size: 22px;
	opacity: .85;
	font-family: "Roboto Condensed", sans-serif;

	@media screen and (max-width: 462px) {
	  font-size: 15px;
	}
  }
  
  .btn {
	width: 130px;
	border: 1px solid #B85A35;
	
	@media screen and (max-width: 550px) {
	  width: 100% !important;
	  margin-bottom: 10px;
	}
  }
}

.join-container {
  margin-top: -105px;
  padding-left: 75px;
  padding-right: 75px;

  @media screen and (max-width: 320px) {
	margin-top: -150px;
  }

  @media screen and (max-width: 850px) {
	padding-left: 0px;
	padding-right: 0px;
  }

  h4 {
	color: white;
	font-size: 22px;
	opacity: .85;
	font-family: "Roboto Condensed", sans-serif;

	@media screen and (max-width: 462px) {
	  font-size: 15px;
	}
  }

  input {
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	font-family: Roboto;
  }

  .btn {
	width: 130px;
	border: 1px solid #B85A35;
	
	@media screen and (max-width: 550px) {
	  width: 100% !important;
	  margin-bottom: 10px;
	}
  }
}

.section {
  background-color: #E6E6E6;
  max-height: 500px;
  min-height: 500px;
  overflow: hidden;
  
  img {
	width: 100%;
	margin-top: -125px;
  }
  
  .title {
	padding-top: 25px;
	width: 100%;
	text-align: center;
  }
}

.alternate-section {
  background-color: white;
  max-height: 400px;
  min-height: 400px;
  overflow: hidden;
}

.a-center {
  text-align: center;
  width: 65%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 120px; left: 0; bottom: 0; right: 0;

  @media screen and (max-width: 960px) {
	width: 90%;
  }
}

.hero-unit {
  background-size:cover;
  height:100vh;

  h1 {
	color: #FFFFFF;
	font-size: 60px;
	letter-spacing: -1px;
	line-height: 1;
	margin-bottom: 0;
  }
  
  h2 {
	font-size: 25px;
	color: #FFFFFF;
  }
}



.black-bird {
  background-color: #222222 !important;
}

.parakeet-green {
  background-color: #2E8B57 !important;
}

.blue-jay {
  background-color: #1E90BF !important;
}

.github-view {
  position: absolute;
  z-index: 9999;
  color: white;
  bottom: 10px;
  right: 20px;
  font-family: Roboto;
  opacity: 0.5;
  font-size: 18px;

  &:hover {
	opacity: 1;
  }
}

.fill { 
  width:100%;
  height:350px;
  background-position:center;
  background-size:cover;
}



///
/* Room Page Styles */
//

.queue-container {
  margin-top: -105px;
  padding-left: 25px;
  padding-right: 25px;

  @media screen and (max-width: 1000px) {
	padding-left: 0px;
	padding-right: 0px;
  }

  h4 {
	color: white;
	font-size: 22px;
	opacity: .85;
	font-family: "Roboto Condensed", sans-serif;

  }
  
  .panel {
	opacity: .9 !important;
	
	.panel-heading {
	  font-size: 20px;
	  opacity: .85;
	  
	  .subtitle {
		font-size: 10px;
		margin-top: -5px;
		margin-bottom: -5px;
	  }
	}
	
	.panel-body {
	  padding: 0px !important;
	  
	  .table {
		margin-bottom: 0px !important;
		
		#play_icon {
		  width: 40px;
		  vertical-align: middle;
		}
		
		#song_title {
		  text-align: left;
		  vertical-align: middle;
		}
		
		#remove_icon {
		  width: 40px;
		}
	  }
	}
	

  }
}

.users-connected {
  bottom: 65px;
  position: absolute;
  color: white;
  font-family: Roboto;
  opacity: 0.5;
  font-size: 18px;
  right: 20px;
  
  &:hover {
	opacity: 1 !important;
  }
}

#room_logo_container {
  width: 100%;
  height: 130px;
  text-align: center;
  margin-top: -80px;
  
  #room_bird {
	fill: white;
	width: 100px;
	margin-top: -80px;
	opacity: 0.85;
  }
}

.player-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: .9 !important;

  .plyr__progress--played, .plyr__volume--display {
	z-index: 1;
	color: orange;
	background: 0 0;
	transition: none;
  }

  .plyr__controls .plyr__progress, .plyr__controls .plyr__time, .plyr__controls > button {
	margin-left: 10px;
	
	&:hover {
	  background-color: orange;
	}
  }
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  right: 20px; /* Center the snackbar */
  top: 75px; /* 30px from the bottom */
  opacity: .8;
}


///
/* Blog Page Styles */
//

.panel-blog-contents {
  text-align: left !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-size: 13px;
}




//
/* General Media Queries */
//
/* Large desktop */
@media (min-width: 1200px) {  }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }

/* Landscape phones and down */
@media (max-width: 480px) {  }
	
